@model IEnumerable<DndCompanion.Models.CampaignModel>

@{
    ViewData["Title"] = "Campaigns";
}

<h1>Campaigns</h1>

<div class="container">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>IsPublic</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campaign in Model)
            {
                <tr>
                    <td>@campaign.Name</td>
                    <td>@campaign.Description</td>
                    <td>@campaign.Public</td>
                    <td>@campaign.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
