@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserModel> SignInManager

<li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Campaigns</a>
    <ul class="dropdown-menu">
        @if (SignInManager.IsSignedIn(User))
        {
            <li><a class="dropdown-item" asp-controller="Campaigns" asp-action="Index">My Campaigns</a></li>
        }
        else
        {
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">My Campaigns</a></li>
        }
        <li><a class="dropdown-item" asp-controller="Campaigns" asp-action="PublicCampaigns">Public Campaigns</a></li>
    </ul>
</li>

